<br />

<div class="card shadow py-2 px-1" style="width: 18rem" ">
  <img
    class="card-img-top img-fluid"
    src="<%=data.images %>"
    alt="Card image cap"
    style="max-height: 18rem; min-height: 18rem"
    onclick="popup(`<%=data._id%>`,`<%=data.name%>`,`<%=data.description%>`,`<%=data.price%>`,`<%=data.images%>`)"
  />

  <div class="card-body">
    <h5 class="card-title"><%=data.name %></h5>

    <a href="/product/<%=data._id%>" class="btn btn-info">View Details </a>
    <a href="/product/addcart/<%=data._id%>" class="btn btn-warning">Add to Cart </a>
  </div>
</div>
